<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ultraceramics">
        <dependent-module archiveName="client.war" deploy-path="/" handle="module:/resource/client/client">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="admin.war" deploy-path="/" handle="module:/resource/admin/admin">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="supplier.war" deploy-path="/" handle="module:/resource/supplier/supplier">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="PersistenceUnit.jar" deploy-path="/lib" handle="module:/resource/PersistenceUnit/PersistenceUnit">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ejbModule.jar" deploy-path="/" handle="module:/resource/ejbModule/ejbModule">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
